.createdtasks {
  /* top: 94px;
  left: 448px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  height: 158px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000000a;
  border-radius: 12px;
  opacity: 1;
  /* position: fixed; */
}

.createdtasks__contianer {
  overflow-y: scroll;
  overflow-x: scroll;
}

.createdtasks_title {
  /* top: 118px;
  left: 472px; */
  margin-left: 20px;
  width: 208px;
  height: 24px;
  text-align: left;
  font: normal normal medium 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #537178;
  opacity: 1;
  font-size: large;
  font-weight: 600;
  /* position: fixed; */
}

.createdtasks_list {
  /* top: 154px;
  left: 472px; */
  margin-top: 5px;
  width: 271px;
  height: 70px;
  opacity: 1;
  /* position: sticky; */
}

.createdtasks_list > li {
  color: #8f9ea2;
}

/*Hide scrollbar  for Chrome, Safari and Opera*/
.createdtasks__contianer::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar  for IE, Edge and Firefox*/
.createdtasks__contianer {
  -ms-overflow-style: none; /*IE, Edge*/
  scrollbar-width: none; /*Firefox*/
}

@media screen and (max-width: 600px) {
  .createdtasks {
    margin-top: 10px;
  }
}
